.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}
circle.visited{
  fill: #eee;
  stroke: navy;
  stroke-width: 3px;
}

circle.red {
  fill: #eee;
  stroke:red;
  stroke-width: 3px;
}
.node text { font: 12px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.visited{
  color: navy;
}
.path{
  color: red;
}