/*color scheme*/
:root {
  --fresh-color:#4ABDAC;
  --vermillion-color:#FC4A1A;
  --sunshine-color:#F7B733;
  --clean-color:#DFDCE3;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
body{
  font-family:Open Sans;
 
}


/*quote*/
blockquote{
  font-size: 1.4em;
  width:60%;
  font-family:Open Sans;
  font-style:italic;
  color: var(--fresh-color);
  padding:1.2em 30px 1.2em 75px;
  line-height:1.6;
  position: absolute;
  bottom: 0;
}
blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote span{
  display:block;
  color:var(--vermillion-color) ;
}
/*graph styles*/
.node circle {
  fill: var(--fresh-color);
  stroke: var(--fresh-color);
  stroke-width: 3px;
}
.node circle.visited{
  stroke: var(--sunshine-color);
  stroke-width: 3px;
}

.node circle.red {
  stroke:var(--vermillion-color);
  stroke-width: 3px;
}
.node text { 
  font: 24px sans-serif;
  color:#fff;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 5px;
}
.visited{
  color: var(--sunshine-color);
}
.path{
  color: var(--vermillion-color);
}
#graph svg{
  max-height:600px;
}
marker {
  stroke: #999;
  fill:rgba(124,240,10,0);
}
.end-link{
  stroke: #999;
  stroke-opacity: .6;
}

/*Menu Styles*/
ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display:table;
  width:100%;
}
/*Create a horizontal list with spacing*/
li {
  display:table-cell;
  margin-right: 1px;
  border: 1px solid white;
  text-align: center;
}
/*Style for menu links*/
li a {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: var(--sunshine-color);
  text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
  background:var(--fresh-color);
}
/*Style for dropdown links*/
li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
  background:var(--fresh-color);
  color: #fff;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
  ul {
      position: static;
      display: none;
  }
  li {
      display:block;
      margin-bottom: 1px;
  }
  ul li, li a {
      width: 100%;
  }
  .main{
    height: 240px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background:var(--fresh-color);
  text-align: center;
  padding: 10px 0;
  display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
  display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
  display: block;
}
   /*Display 'show menu' link*/
   .show-menu {
    display:block;
}