.node circle {
  fill: antiquewhite;
  stroke: steelblue;
  stroke-width: 3px;
}
.node circle.visited{
  stroke: navy;
  stroke-width: 3px;
}

.node circle.red {
  stroke:red;
  stroke-width: 3px;
}
.node text { 
  font: 14px sans-serif;
  color:#fff;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 5px;
}
.visited{
  color: navy;
}
.path{
  color: red;
}